@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
@font-face {
    font-family: "tesplak";
    font-weight: normal;
    src: url("tesplak.woff");
}

html, body {
    background-color: #F1F7FD;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    margin: 64px 0 64px 0;
}

.block {
    width: 100%;
    max-width: 550px;
    min-height: 80px;
    border-radius: 32px;
    background-color: white;
    margin: 16px 16px 0 16px;
    vertical-align: middle;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.block-big {
    margin-top: 0;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.teslak {
    text-align: center;
    line-height: 36px;
    margin: 24px 0 24px 0;
}

.teslak > * {
    margin: 0;
}

.teslak-desc {
    margin: 0 44px 32px 44px;
    text-align: center;
    color: #69718D;
}

.teslak-desc > * { margin: 0; }

.teslak > h1 {
    font-family: 'tesplak';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
}

@keyframes scrollAnim {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-103px, 0); }
}

.scroll-container {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    top: 64px;
}

.scroll {
    animation: scrollAnim 3s linear infinite;
}

.scroll-item {
    width: 64px;
    margin-left: 32px;
}

.avatar {
    margin-top: 32px;
    width: 128px;
    border-radius: 16px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #0C0C3D;
}

a img {
    transition: all 0.3s ease-out;
}

a:hover {
    color: #1045FF;
}
a:hover img {
    content: url("arrow.svg#hover");
    right: 24px;
}

a:active {
    color: #387BFF;
}
a:active img {
    content: url("arrow.svg#active");
}

.link {
    left: 32px;
    position: relative;
    color: inherit;
    display: inline;
}

.arrow {
    position: absolute;
    right: 32px;
    top: 24px;
    bottom: 24px;
    width: 23px;
    height: 30px;
    color: inherit;
    content: url("arrow.svg#default");
}


@media only screen and (max-width: 767px) {
    body {
        margin: 16px 0 16px 0;
    }

    .teslak {
        margin: 16px 0 16px 0;
    }
    .teslak, .teslak-desc {
        font-size: 16px;
        line-height: 24px;
    }
    .teslak > h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .link-optional {
		display: none;
	}
}
